html {
  --grey: #6e6e6e;
  --green: #0ede0b;
  --white: #fff;
  --black: #000;
}

@media (max-width: 1250px) {
  /* header */
  #head-top {
    display: none;
  }
  .navbar {
    position: absolute;
    top: 0px;
    padding: 0 20px;
  }
  .swiper .text {
    position: absolute;
    font-size: 1.8rem;
    width: 60%;
    left: 10%;
    top: 15%;
    font-weight: bold;
    word-spacing: 5px;
  }
  section {
    display: flex;
    flex-direction: column;
  }
  .swiper-container {
    height: 60vh;
  }
  .targets .images {
    width: 100%;
  }
  .targets .targets-contant {
    width: 100%;
  }
  .swiper-button-next::after {
    font-size: 1.5rem;
  }
  .swiper-button-prev::after {
    font-size: 1.5rem;
  }
  .all-box {
    grid-template-columns: repeat(2, 1fr);
  }
  .box {
    height: auto;
    border: 1px solid black;
    padding: 1%;
  }
  .head {
    display: flex;
    justify-content: space-between;
  }

  .topic {
    width: 45%;
    height: 10rem;
  }
}

@media (max-width: 900px) {
  /* html {
    font-size: 60%;
  } */

  /* navbar */
  #menu-bars {
    display: block;
  }

  .nav {
    position: absolute;
    top: 110%;
    right: 110%;
    width: 100%;
    background-color: white;
    padding: 0;
    margin: 0;
  }

  .nav.active {
    right: 0rem;
    transition: 0.4s ease-in-out;
  }
  .nav a {
    color: black;
    display: block;
    width: 100%;
    padding: 10px 0 10px 20px;
    border: 1px solid black;
    transition: 0.4s ease-in-out;
  }
  .nav a:hover {
    background-color: grey;
  }

  /* section */
  section {
    height: auto;
    padding: 5% 2%;
  }
  /* swiper */
  .swiper-container {
    height: 50vh;
  }

  .swiper .text {
    position: absolute;
    font-size: 1.8rem;
    width: 60%;
    left: 10%;
    top: 20%;
    font-weight: bold;
    word-spacing: 5px;
  }
  /* about */
  #about .about-text {
    width: 100%;
  }
  #about .about-text h1 {
    font-size: 3.5rem;
  }

  #about .about-text h2 {
    font-size: 2.5rem;
  }

  #about .about-img {
    width: 100%;
  }
  .about-tag ul {
    grid-template-columns: none;
  }
  .about-tag li {
    font-size: 1.8rem;
    /* margin: 5px; */
  }

  .about-tag ul {
    padding: 0;
  }
  .all-process {
    flex-direction: column;
  }
  .process .images::after {
    display: none;
  }
  /* footer */
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  #contactss {
    padding: 0px 2%;
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  /* footer */
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }

  .all-box {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 580px) {
  .swiper-container {
    height: 50vh;
  }
  .swiper .text {
    position: absolute;
    font-size: 1.8rem;
    width: 100%;
    left: 15%;
    top: 25%;
    font-weight: bold;
    word-spacing: 5px;
    font-size: 1.2rem;
  }
}
/* @media (max-width: 430px) {
  html {
    font-size: 55%;
  }
} */
